namespace: prod

replicaCount: 5

image:
  repository: snigdha2017/techtrends
  tag: latest
  pullPolicy: Always

service:
  port: 7111
  targetPort: 3111
  protocol: TCP

resources:
  requests:
    cpu: 350m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi